@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Domine&family=Playfair+Display+SC&display=swap');

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Domine, serif;
    font-size: 16px;
    color: #4F5656;

}


/*headings and logo*/

h1, h2 {
    font-family: Playfair Display;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #6CA159;

}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 0.2px;
    margin-right: 100px;
    
    
}

#menu #logo {
    line-height: 75px;
    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none; 
    color: #6CA159;
}

#menu a:hover {
    color: #4F5656;
    border-bottom: 1px solid #4F5656;
}

.active {
    border-bottom: 1px solid #4F5656;
}

/*dropdown-buttom for sign up*/

.dropdown-buttom {
    background-color: #6CA159;
    color: white;
    font-family: Domine, serif;
    font-size: 110%;
    letter-spacing: 0.2px;
    padding: 12px;
    text-align: center;
    border: none;
  }

.dropdown-menu {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    float: right;
    padding-right: 100px;
  }

  .dropdown-text {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 185px;
    z-index: 1;
  }

  .dropdown-text a {
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }

  .dropdown-text a:hover {
    background-color: #6CA159;
}

  .dropdown-menu:hover .dropdown-text {
    display: block;
}


/*hero image and cover text*/

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #FAECEC;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/Main-picture.png) no-repeat center center;

 /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* creating animation of main photo */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.1);
    }
}

/*Covert text*/

#cover-text {
    font-size: 150%;
    font-family: Berkshire Swash, serif;
    text-transform: none;
    letter-spacing: 0.2px;

    width: 500px;
    height: 70px;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    background-color: rgba(108,161,89, 0.8);

    bottom: 570px;
    right: 100px;

    position: absolute;

}

/*about us*/

#about-us {
    height: 700px;
    line-height: 1.5 
}

#left-about {
    padding: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 2px solid #6CA159;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 80%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading p {
    
    float: right;
    line-height: 20px;
    clear: both;
    
    border: none;
}
.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}



#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #4F5656;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/circle-image.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



/*gallery*/

.photos {
    clear: both;
    column-count: 3;
    column-gap: 5px;
    margin-top: 20px;
    
}

.photos > img {
    width: 100%;
    
}

#gallery-header {
    clear: both; 
    text-align: center;
    font-size: 200%;
     
}

/*footer*/

footer {
    height: 200px;
    background-color: #6CA159;
}

footer p {
    text-align: center;
    color: black;
    
} 

#footer-autor {
    padding-top: 10px;
}

#footer-nav {
    
    font-size: 110%;
    letter-spacing: 0.2px;
    padding-top: 20px;
    padding-bottom: 2px;
    
}

.social-networks {
    text-align: center;
    color: #fff;
    max-width: 1920px;
    max-height: 70px;
    padding-bottom: 30px;
    padding-top: 0;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 0.5%;
    margin-bottom: 0.2px;

    padding: 2.5%;
    color: #FAECEC;
}

/*Sign-up forms*/

.form-section-chldrn {
    clear: left;
    background: url("../images/santa-sign-up-2.png");
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
    box-sizing: border-box;
}

.form-section-santa {
    clear: left;
    background: url("../images/santa_sign-up.png");
    background-size: cover;
    background-position: center;
    height: 1000px;
}


.signup-form {
    margin: 180px 10% 0 0;
    color: #fff;
    background-color: rgba(108,161,89, 0.8);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fff;
    margin-bottom: 20px;
} 

.text-input {
    background:transparent;
    color:  #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
    
}

.text-input:hover  {
    border-color: #4F5656;
}

.join-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 120%;
    background-color: #FAECEC;
    color: #6CA159;
    display: block;
}

.join-button:hover {
    background-color: #4F5656;
    color: #FAECEC;
    
}

.form-section-message {
    background-color:#FAECEC ;
    color:#4F5656;
    width: 100%;
    box-sizing: border-box;
    block-size: 130px;
    margin-bottom: 0px;
}

/*placeholder color for different brousers*/
input::placeholder { 
    color: rgb(255,250,250,0.6);
    opacity: 1; 
    padding-left: 10px;
   
}

:-ms-input-placeholder { 
    color: #FAECEC;
}

::-ms-input-placeholder { 
    color: #FAECEC;
}

/*contacts*/

#contact-section {
    background: url("../images/background-contacts-1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    overflow: hidden;
    min-height: 800px;
}

.contact-container {
    width: 1500px;
    height: 850px;
    margin: 50px auto;
}

#contact-guide {
    max-width: 750px;
    max-height: 200px;
    text-align: justify;
    margin-left: 330px;
    margin-right: 180px;
    margin-top: 50px;
}
#contact-guide h2 {
    text-align: center;
    margin-bottom: 20px;
}

#contact-guide p {
    margin-bottom: 30px;
}

.contact-box {
    margin: 50px 2% 0 0;
    color: #fff;
    background-color: rgba(108,161,89, 0.8);
    max-width: 400px;
    padding: 30px;
    width: 400px;
    height: 420px;
}

.contact-box h2 {
    color: #fff;
    margin-bottom: 20px;
}

.contact-box > p {
    color: #fff;
    margin-top: 10px;
}

#feedback {
    
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}
#google-map {
    
    float: right;
    margin-top: 20px;
    margin-right: 300px;
}

#welcome p {
    width: 80%;
    float: left;
    clear: both;
    margin-bottom: 50px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

}

.project-about {
    position: static;
    padding-bottom: 30px;
    
}
.project-about p {
    text-align: justify;
    margin-left: 120px;
    margin-right: 130px;
   
}

/*media queries*/

/*For larger to medium screens size from 1200px wide and down*/

@media screen and (max-width:1200px) {
    #about-us {
        background-color: yellow;
        width: 65%;
        height: 1200px;
        margin: 0 auto;
        
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
        
        
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}