@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Domine&family=Playfair+Display+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Domine, serif;
    font-size: 600;
    color: #4F5656;

}

/*headings and logo*/

h1, h2 {
    font-family: Playfair Display;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #6CA159;

}

#logo {
    float: left;
    font-size: 200%;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 0.2px;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none; 
    color: #6CA159;
}

#menu a:hover {
    color: #4F5656;
    border-bottom: 1px solid #4F5656;
}

.active {
    border-bottom: 1px solid #4F5656;
}

/*hero image and cover text*/

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#cover-text, #cover-text h2 {
    color: #FAECEC;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/Main-picture.png) no-repeat center center;

 /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* creating animation of main photo */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Berkshire Swash, serif;
    text-transform: none;
    letter-spacing: 0.2px;

    width: 500px;
    height: 70px;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    background-color: rgba(108,161,89, 0.8);

    bottom: 570px;
    right: 200px;

    position: absolute;

}