@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Domine;
    font-size: 600;
    color: #4F5656;

}

/*headings and logo*/

h1, h2 {
    font-family: Playfair Display SC;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #6CA159;

}

#logo {
    float: left;
    font-size: 200%;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 0.2px;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none; 
    color: #6CA159;
}

#menu a:hover {
    color: #4F5656;
    border-bottom: 1px solid #4F5656;
}